################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Recipes/FileContentIndex/6967166b-35e7-46e5-8e13-e653b71bfb66.vsidx
/.vs/Recipes/FileContentIndex/6967166b-35e7-46e5-8e13-e653b71bfb66.vsidx
/.vs/Recipes/FileContentIndex/7f803330-cab5-47a6-834b-71cd08f3f32c.vsidx
/.vs/Recipes/FileContentIndex/dd2e22ea-3949-4b9b-8e03-ea895678701b.vsidx
/.vs/Recipes/FileContentIndex/4b105925-4071-49e6-8acb-83970d18a985.vsidx
/.vs/Recipes/FileContentIndex/049f9f26-bb04-443b-b19e-21792f0078f6.vsidx
*.vsidx
